.insta-post {
    margin-bottom: 15px;
    margin-top: 15px;
}

.post-meta {
    background: #fff;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
}


.thumb-size {
    height: 25px;
    width: 25px;
}

.thumb-image {
    border-radius: 60px;
    width: 35px;
    height: 35px;
  }

img {
    margin-right: 10px;
}

.img1 {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


.img2 {
    width: 808px;
    height: 500px;
  }

.post-details {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
}

.post-actions {
    margin-bottom: 20px;
    
    i {
        margin-right: 10px;
        color: #ddd; 
        cursor: pointer;   
    }   

    i:hover {
        color: #999;
    }

    i.active {
        color: #ff0000;
    }
}

.comment-box {
    padding: 15px;
    background: #fff;
}

.comments-feed {
    height: 200px;
    overflow: scroll;
}

.post-actions {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
}
