// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navbar {
    margin-bottom: 20px;
}

.homescreen {
    background-image: url('/assets/coverpro2.jpg');
    height: 500px;
    text-align: center;
    color: rgb(7, 2, 144);
}

.homescreen2 {
  
  
    text-align: center;
    
}

