<style>
body {
  background-image: url('/assets/coverpro2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
}
</style>


<div class="body1">
<center>
<h1>Welcome to FriendsMeet application</h1>
<p class="lead">please register or sign in to continue</p>
<%= link_to "Sign Up",new_account_registration_path, class:"btn btn-success" %>
<%= link_to "Sign In",new_account_session_path, class:"btn btn-secondary" %>
</center>
</div>

